.myform{
    width: 40%;
    position: relative;
    left: 30%;
    border: 2px solid #ced4da;
    border-radius:20px ;
    margin: 30px 0 30px 0;
    padding: 20px;

}
.myform Label{
position: relative;
left: 42%;
font-size: 24px;
font-weight: bolder;
}
.FormButton{
    margin-left: 44%;
}
.forminputs{
    border-radius: 30px;

}

/* PROFILE FORM */

.profileForm {
width: 56rem;
margin: auto;
min-height: 40vh;
padding: 5%;
clear: both;
}
.profileForm .form-label{
    float: left;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;

}

.profileForm input, .formTextArea{
background-color: rgba(209, 209, 209, 0.3);
}

.profileForm input:focus, .formTextArea:focus{
    background-color: white;
}

.profileFormButton{
    margin-top: 50px;
    width: 100%;
}

.profileCard{
margin-top: 75px;
margin-bottom: 50px;
line-height: 25px;
}

.profileAlert{
    margin-top: 30px;
}

/* /PROFILE FORM */


.myCarousel{
   width: 80%;
   margin: auto; 
}

.bookMarkButtonActive{
    position: relative;
    bottom: 200px; 
    display: inline-block;
    margin-bottom: -332px;
    right: 200px; 
    font-size: 32px;
    border:  none;
    color: transparent;
    background: none;

}


.bookMarkButtonInactive{
    position: relative;
    bottom: 200px; 
    display: inline-block;
    margin-bottom: -200px;
    right: 200px; 
    font-size: 32px;
    border:  none;
    color: transparent;
    background: none;

}


.bookMarkIconActive{
    opacity: 50%;
    border:  none;
    color: white;
}

.bookMarkIconActive:hover{
    opacity: 70%;
    transition:500ms;
    color: rgb(163, 105, 105)
}

.bookMarkIconActive:active{
    opacity: 50%;
    transition:500ms;
    color: red
}

.bookMarkIconInctive{
    opacity: 50%;
    border:  none;
    color: white;
}

.bookMarkIconInctive:hover{
    opacity: 75%;
    transition:500ms;
    color: white;
}

.bookMarkIconInctive:active{
    opacity: 90%;
    border:  none;
    transition:500ms;
    color: purple;


}

.emptyAlert{
text-align: center;
}

.readmoreModalTitle{
text-align: center;
font-size: 24px;
font-weight: bold;
}
.readmoreModal .modal-content{
  right: 12.5rem;
  width: 56rem;

}

.readmoreModalSubTitle{
    font-size: 20px;
    font-weight: bold;
}

.readmoreModalText{
font-size: 18px;
font-weight: 400;
}
/* JOB CARDS */


.jobCardsCol{
min-height: 850px;
}

.card-custom {
    overflow: hidden;
   position: absolute;
   min-height: 200px !important
  }
  
  .card .card-body{
   
   min-height: 400px;
   max-height: 600px;

  }

  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width:29rem;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  
  .card-custom-avatar img {
    
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }
  
  /* Application */
.applyButton{

padding-top: 50px;
}

.applicationAlert{
    display: inline-block;
    margin-left: 10%;
}

.applicationModal .modal-content{
    right: 12.5rem;
    width: 56rem;
}

.applicationForm{
    width: 90%;
    margin: auto;
}

.applicationFormLabels{
    font-size: 18px;
    
}
/* /Application */




/* /JOB CARDS */

.popupCard{
color: rgb(0,123,255);
border: none;
border-radius: 20px;
background: none;


}

.popupCard:hover{
    color: white;
    background-color: rgb(0,123,255);
    opacity: 50%;
    transition: 500ms;
    border: none;
    font-size: 16px;
}

.popupCard:active{
    color: white;
    background-color: rgb(0,123,255);
    opacity: 100%;
    transition: 500ms;
    border: none;

}


.new_footer_area {
    background: #fbfbfd;
    z-index: 1;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
/* done logout button */
.logOutBtn{
    font-size: 9px;
}


/*************footer End*****************/
footer{
    /* margin-top: 50vh; */
}